/* global */
* {
  margin: 0;
  padding: 0;
}

body{
  font-family: arial;
}

h1 {
  text-align: center;
  margin: 40px 0;
}

a {
  text-decoration: none;
  color: #fff;
}

section {
  padding: 60px 0;
}

/* hamburger menu */
.navbar {
    background: #7CCDEA;
    overflow: hidden;
    height: 80px;
}

.navbar a {
    float: right;
    display: block;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
    font-size: 17px;
}

.navbar-nav img {
    height: 70px;
    margin-left: 30px;
    margin-top: 5px;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-nav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #ccc;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    color: #fff;
}

.side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

/* nav */
header {
  height: 80px;
  width: 100%;
  background: #7CCDEA;
}

.fixednav {
  display: flex;
  align-items: center;
  position: fixed;
}

.leftnav {
  flex-grow: 1;
  font-size: 26px;
  margin-left: 30px;
}

.rightnav {
  margin-right: 25px;
  font-size: 22px;
  font-family: courier;
  font-weight: bold;
}

.rightnav  a {
    padding: 8px 18px;
    margin: 0px;
    border: 2px solid #7CCDEA;
}

.active {
    border: 2px solid #F0181B !important;
    border-radius: 10px;
    background: rgb(252,249,93);
    color: #F0181B;
    font-weight: bold;
}

.rightnav a:hover {
    border: 2px solid #F0181B;
    border-radius: 10px;
    background: rgb(252,249,93);
    color: #F0181B;
    font-weight: bold;
    transition: 0.7s;
}

.leftnav a {
    display: flex;
    align-items: center;
}

nav a img {
    height: 70px;
}

nav a p {
    display: inline;
    margin-left: 15px;
    font-family: helvetica;
    font-weight: bold;
}

@media screen and (min-width: 1161px) {
    .navbar {
        display: none;
    }
}

@media screen and (max-width: 1160px) {
    header {
        height: 0;
    }

  .leftnav, .rightnav {
    display: none;
  }
}

/* main */
.main {
  padding-top: 50px;
}

.light {
  background: #eee;
  color: #333;
  height: 400px;
}

.dark {
  background: #333;
  color: #eee;
  height: auto;
}

@media screen and (max-width: 1161px) {
    .main {
        padding-top: 0;
    }
}

/* hero */
#hero {
  background-image: url('https://raw.githubusercontent.com/connorocampo/flexbox-fun/master/img/hero.png');
  background-position: center;
  height: 400px;
}

#hero a {
    display: block;
    border: 6px solid #F0181B;
    border-radius: 50px;
    background: rgb(252,249,93);
    color: #F0181B;
    width: 375px;
    font-family: courier;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
    margin-left: 20%;
    padding: 10px;
    text-transform: uppercase;
}

#hero a:hover {
    background: #698491;
    border: 6px solid rgb(109,165,211);
    color: #fff;
    transition: 0.3s;
}

@media screen and (max-width: 700px) {
    #hero a {
        width: 305px;
        margin: 35px auto;
    }
}

/* grid layout */
.shape {
  margin: 15px;
}

/* square section */
.flex-container {
  display: flex;
  padding: 60px;
}

.flex-container h2, .flex-container p {
  margin: 15px;
}

.flex-container p {
  font-size: 18px;
  line-height: 28px;
}

.square-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.square {
  height: 350px;
  width: 350px;
  border: 2px solid burlywood;
}

.square p {
  line-height: 23px;
  margin: 0 0 5px 0;
  padding: 20px 10px 10px 10px;
}

.square-flex a {
  border: 1px solid #fff;
  padding: 10px 20px;
  margin-left: 10px;
}

.square-flex a:hover {
  border: 1px solid #333;
  background: burlywood;
  color: #333;
  transition: all 0.5s ease;
}

.square-flex .price {
  display: inline-block;
  padding: 0;
  margin-left: 195px;
}

@media screen and (max-width: 700px) {
  #square {
    padding: 30px;
  }

  .square {
    height: 320px;
    width: 320px;
    border: 2px solid burlywood;
  }

  .square img {
    height: 220px;
    width: 320px;
  }

  .square-flex .price {
    display: inline-block;
    margin: 0 0 0px 160px;
  }

  .flex-container {
    flex-wrap: wrap;
    padding: 0;
  }

  .flex-container h2, .flex-container p {
    margin: 15px;
  }
}

/* rectangle section */
#rectangle {
  height: auto;
}

.rectangle {
  height: 400px;
  width: 500px;
  border: 2px solid burlywood;
  margin: 90px;
}

.rectangle-flex {
  display: flex;
  justify-content: center;
}

.rectangle-text {
  width: 50%;
  margin: 60px;
}

.rectangle-text p {
  margin: 15px 0;
  font-size: 20px;
  line-height: 30px;
}

@media screen and (max-width: 900px) {
  .rectangle-flex {
    flex-wrap: wrap;
  }

  #rectangle .rectangle {
    margin: 30px 50px 0 50px;
  }

  .rectangle-text {
    width: 100%;
    margin: 50px 30px;
  }
}

@media screen and (max-width: 700px) {
  #rectangle {
    padding: 50px;
  }

  #rectangle .rectangle {
    height: 220px;
    width: 320px;
    margin: auto;
  }

  .rectangle-text {
    width: 100%;
    margin: 50px 0px;
  }
}

/* circle section */
.circle {
  height: 250px;
  width: 250px;
  border: 2px solid burlywood;
  border-radius: 50%;
}

.circle-flex {
  display: flex;
  margin: 50px;
}

#circle .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid pink;
  height: 800px;
  width: 400px;
}

.circle-flex img {
  /* insert margin here for individual lengh cards */
}

.circle-flex h2 {
  margin: 60px 0 30px 0;
}

.circle-flex p {
  font-size: 20px;
  text-align: justify;
  line-height: 30px;
  margin: 30px;
}

@media screen and (max-width: 890px) {
  #circle {
    padding: 30px;
  }

  .circle-flex {
    flex-wrap: wrap;
    margin: 0;
  }

  .profile {
    margin-top: 50px;
  }

  .circle-flex h2 {
    margin: 60px 0 15px 0;
  }
}

/* contact section */
#contact {
    height: 375px;
    background: #7CCDEA;
    padding: 60px;
}

#contact .container {
    background: #0DA8E0;
    border-radius: 45px;
    width: 975px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container ul {
    list-style: none;
    text-align: center;
    margin: 10px;
}

.container ul li {
    margin: 25px;
}

.container .list-title {
    font-family: courier;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #F3EB5B;
    align-self: flex-start;
}

.container ul p {
    color: #fff;
    line-height: 22px;
}

li #social-media {
    display: flex;
    flex-direction: column;
}

li a i {
    font-size: 16px;
    background: #fff;
    color: #698491;
    padding: 8px;
    border-radius: 50%;
    margin: 12px 2px 0 2px;;
}

#email {
    background: #0DA8E0;
    color: #fff;
    width: 930px;
    margin: 50px auto;
    border-radius: 45px;
    padding: 20px;
}

.email-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.email-flex p, .email-flex form {
  margin: 0 15px;
}

.email-flex p {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}

#email-input {
  padding: 10px;
  width: 250px;
  height: 24px;
  border-radius: 50px;
}

#submit {
  padding: 10px 20px;
  margin-left: 20px;
  border: 1px solid burlywood;
  background: burlywood;
  color: #fff;
  border: 6px solid #F0181B;
  border-radius: 45px;
  background: rgb(252,249,93);
  color: #F0181B;
  font-size: 16px;
  -webkit-appearance: none;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
}


@media screen and (max-width: 700px) {
    #email {
    width: 260px;
    height: 200px;
    margin: 50px auto;
    padding: 20px;
    }

    .email-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .email-flex p {
    font-weight: normal;
    }

    li a i {
    font-size: 20px;
    margin: 12px 5px 0 5px;
    }

    .email-flex form {
    display: block;
    }

    .container ul li {
    margin: 10px;
    }

    #email-input {
    width: 200px;
    }

    #submit {
    -webkit-appearance: none;
    margin: 15px;
    margin-left: 50%;
    }

    #contact {
    height: 900px;
    background: #7CCDEA;
    }

    #contact .container {
    background: #0DA8E0;
    border-radius: 45px;
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
}

/* footer */
footer {
    background: #FCF95D;
    color: #F0181B;
    font-weight: bold;
    text-align: center;
    padding: 10px;

}

/* about.html */
#our-story {
    background: #7CCDEA;
    padding-top: 100px;
}

#our-story .container {
    height: 750px;
    margin: 60px auto -60px auto;
    background: #FFEE54;
    border: 6px solid #F0181B;
    border-radius: 45px;
    width: 950px;
}

#our-story h1 {
    border: 6px solid #F0181B;
    border-radius: 45px;
    background: #0DA8E0;
    color: #FFEE54;
    padding: 20px;
    width: 130px;
    margin: 60px auto 0 auto;
    font-family: courier;
    text-transform: uppercase;
}

#our-story .container p {
    margin: 50px 100px 0 100px;
    font-family: courier;
    font-size: 18px;
    font-weight: bold;
    line-height: 32px;
}

#our-story .container a {
    text-decoration: underline;
    color: #000;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
}
