/* global */
* {
  margin: 0;
  padding: 0;
}

body{
  font-family: arial;
}

h1 {
  text-align: center;
  margin: 40px 0;
}

a {
  text-decoration: none;
  color: #fff;
}

section {
  padding: 60px 0;
}

/* hamburger nav */
.navbar {
    background: #7CCDEA;
    overflow: hidden;
    height: 80px;
}

.navbar a {
    float: right;
    display: block;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
    font-size: 17px;
}

.ignore-css {
    all:unset !important;
    cursor: pointer !important;
}

nav img {
    height: 70px;
    margin-left: 30px;
    margin-top: 5px;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-nav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #ccc;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    color: #fff;
}

.side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

/* nav */
header {
  height: 80px;
  width: 100%;
  background: #7CCDEA;
}

.fixednav {
  display: flex;
  align-items: center;
  position: fixed;
}

.leftnav {
  flex-grow: 1;
  font-size: 26px;
  margin-left: 30px;
}

.rightnav {
  margin-right: 25px;
  font-size: 22px;
  font-family: courier;
  font-weight: bold;
}

.rightnav  a {
    padding: 8px 18px;
    margin: 0px;
    border: 2px solid #7CCDEA;
    border-radius: 10px;
}

.active {
    border: 2px solid #F0181B !important;
    border-radius: 10px;
    background: rgb(252,249,93);
    color: #F0181B;
    font-weight: bold;
}

.rightnav a:hover {
    border: 2px solid #F0181B;
    border-radius: 10px;
    background: rgb(252,249,93);
    color: #F0181B;
    font-weight: bold;
    transition: 0.7s;
}

.leftnav a {
    display: flex;
    align-items: center;
}

nav a img {
    height: 70px;
}

nav a p {
    display: inline;
    margin-left: 15px;
    font-family: helvetica;
    font-weight: bold;
}

@media screen and (min-width: 1161px) {
    .navbar {
        display: none;
    }
}

@media screen and (max-width: 1160px) {
    header {
        height: 0;
    }

  .leftnav, .rightnav {
    display: none;
  }
}

/* main */
.main {
  padding-top: 50px;
}

@media screen and (max-width: 1161px) {
    .main {
        padding-top: 0;
    }
}

/* hero */
#hero {
  background-image: url('https://raw.githubusercontent.com/connorocampo/flexbox-fun/master/img/hero.png');
  background-position: center;
  height: 400px;
}

#hero a {
    display: block;
    border: 6px solid #F0181B;
    border-radius: 50px;
    background: rgb(252,249,93);
    color: #F0181B;
    width: 375px;
    font-family: courier;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
    margin-left: 20%;
    padding: 10px;
    text-transform: uppercase;
}

#hero a:hover {
    background: #698491;
    border: 6px solid rgb(109,165,211);
    color: #fff;
    transition: 0.3s;
}

@media screen and (max-width: 700px) {
    #hero a {
        width: 305px;
        margin: 35px auto;
    }
}

/* grid layout */
.shape {
  margin: 15px;
}

/* menu page  */
#menu {
  background: #7CCDEA;
  display: flex;
  justify-content: center;
  padding-bottom: 0;
}

.menu-flex {
    background: #F0181B;
    border: 6px solid #FFEE54;
    border-radius: 45px;
    width: 960px;
    height: 1430px;
    font-family: courier;
}

.rectangle-text {
    font-weight: bold;
    background: #F7F2E2;
    margin: 20px 20px 0px 20px;
    padding: 1px 0;
}

.id a {
    color: #F0181B;
}

.rectangle-text h2 {
    margin: 40px;
    color: #F0181B;
}

.rectangle-text p {
  margin: 40px;
  font-size: 20px;
  line-height: 30px;
  color: #000;
}

.rectangle-text .id {
    color: #F0181B;
}

.menu-items {
    display: flex;
    flex-direction: column;
}

.menu-items img {
    float: left;
    margin-right: 25px;
}

.menu-items p {
    margin: 20px 15px;
}

.burger p:first-child {
    color: red;
}

.burger p:nth-child(2) {
    font-size: 16px;
    width: 850px;
}

@media screen and (max-width: 900px) {
  .rectangle-flex {
    flex-wrap: wrap;
  }

  .rectangle-text {
      font-weight: bold;
      background: #F7F2E2;
      margin: 0;
      padding: 0;
  }

  .menu-flex {
      background: #F0181B;
      border: 6px solid #FFEE54;
      border-radius: 45px;
      width: 300px;
      height: 2950px;
      font-family: courier;
  }

  .menu-items img {
      margin: 15px auto;
  }

  .menu-items p {
      margin: 0px;
      font-size: 16px;
  }

  .burger p:nth-child(2) {
      font-size: 16px;
      width: 300px;
  }

  /* #menu .rectangle {
    margin: 30px 50px 0 50px;
  } */

  /* .rectangle-text {
    width: 100%;
    margin: 50px 30px;
  } */
}

@media screen and (max-width: 700px) {
  #rectangle {
    padding: 50px;
  }

  #rectangle .rectangle {
    height: 220px;
    width: 320px;
    margin: auto;
  }

  .rectangle-text {
    width: 100%;
    margin: 50px 0px;
  }
}

/* contact section */
#contact-form {
    background: #7CCDEA;
    padding-bottom: 0;
}

#contact-form .container {
    background: #FFEE54;
    color: #F0181B;
    border: 6px solid #F0181B;
    border-radius: 45px;
    width: 950px;
    margin: 0 auto;
}

#contact-form h2 {
    margin: 40px auto;
    background: #F0181B;
    color: #FFEE54;
    border-radius: 35px;
    width: 220px;
    padding: 20px 0px;
    text-align: center;
    text-transform: uppercase;
    font-family: courier;
    font-size: 36px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 35px;
}

.content label {
    font-family: courier;
    font-weight: bold;
    font-size: 18px;
}

.top-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-form input {
    border: none;
    border-radius: 15px;
    margin: 3px 0;
    padding: 8px;
    font-family: courier;
}

.top-form textarea {
    border-radius: 20px;
    margin: 3px 0;
}

.top-form #send {
    background: #F0181B;
    color: #FFEE54;
    border: none;
    width: 50px;
    margin-left: auto;
}

#contact {
    height: 375px;
    background: #7CCDEA;
    padding: 60px 0 15px 0;
}

#contact .container {
    background: #0DA8E0;
    border-radius: 45px;
    width: 975px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container ul {
    list-style: none;
    text-align: center;
    margin: 10px;
}

.container ul li {
    margin: 25px;
}

.container .list-title {
    font-family: courier;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #F3EB5B;
    align-self: flex-start;
}

.container ul p {
    color: #fff;
    line-height: 22px;
}

li #social-media {
    display: flex;
    flex-direction: column;
}

li a i {
    font-size: 16px;
    background: #fff;
    color: #698491;
    padding: 8px;
    border-radius: 50%;
    margin: 12px 2px 0 2px;;
}

#email {
    background: #0DA8E0;
    color: #fff;
    width: 930px;
    margin: 50px auto;
    border-radius: 45px;
    padding: 20px;
}

.email-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.email-flex p, .email-flex form {
  margin: 0 15px;
}

.email-flex p {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}

#email-input {
  padding: 10px;
  width: 250px;
  height: 24px;
  border-radius: 50px;
}

#submit {
  padding: 10px 20px;
  margin-left: 20px;
  border: 6px solid #F0181B;
  border-radius: 45px;
  background: rgb(252,249,93);
  color: #F0181B;
  font-size: 16px;
  -webkit-appearance: none;
}

.logo-container {
    background: #7CCDEA;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}


@media screen and (max-width: 700px) {
    #email {
    width: 260px;
    height: 200px;
    margin: 50px auto;
    padding: 20px;
    }

    .email-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .email-flex p {
    font-weight: normal;
    }

    li a i {
    font-size: 20px;
    margin: 12px 5px 0 5px;
    }

    .email-flex form {
    display: block;
    }

    .container ul li {
    margin: 10px;
    }

    #email-input {
    width: 200px;
    }

    #submit {
    -webkit-appearance: none;
    margin: 15px;
    margin-left: 50%;
    }

    #contact {
    height: 900px;
    background: #7CCDEA;
    }

    #contact .container {
    background: #0DA8E0;
    border-radius: 45px;
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
}

/* footer */
footer {
    background: #FCF95D;
    color: #F0181B;
    font-weight: bold;
    text-align: center;
    padding: 10px;

}

/* about.html */
#our-story {
    background: #7CCDEA;
}

#our-story .container {
    height: 750px;
    margin: 60px auto -60px auto;
    background: #FFEE54;
    border: 6px solid #F0181B;
    border-radius: 45px;
    width: 950px;
}

#our-story h1 {
    border: 6px solid #F0181B;
    border-radius: 45px;
    background: #0DA8E0;
    color: #FFEE54;
    padding: 20px;
    width: 130px;
    margin: 60px auto 0 auto;
    font-family: courier;
    text-transform: uppercase;
}

#our-story .container p {
    margin: 50px 100px 0 100px;
    font-family: courier;
    font-size: 18px;
    font-weight: bold;
    line-height: 32px;
}

#our-story .container a {
    text-decoration: underline;
    color: #000;
}

.images {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 700px) {
    #our-story {
        padding-bottom: 0;
    }

    #our-story .container {
        width: 290px;
        height: 1700px;
        margin: auto;
    }

    #our-story .container p {
        margin: 35px;
    }

    .images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* order online page */
#order-online {
    background: #7CCDEA;
}

.flex-container {
    display: flex;
    justify-content: center;
    margin: 5% 25% 0 25%;
    padding: 25px;
    background: #F0181B;
    border: 4px solid #FFEE54;
    border-radius: 45px;
}

.flex-container h2 {
  padding: 15px;
  width: 200px;
  background: #FFEE54;
  color: #0DA8E0;
  border-radius: 45px;
  font-family: courier;
  text-align: center;
}

.flex-container p {
  font-size: 18px;
  line-height: 28px;
}

.square-flex {
  padding: 0 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #7CCDEA;
}

.square {
    height: 260px;
    width: 280px;
    border: 4px solid #F0181B !important;
    border-radius: 10px;
    background: #FFFFE3;
}

.square p {
  margin: 20px 10px 0 10px;
  padding: 10px 10px -5px 10px;
}

.square-flex a {
    padding: 10px 20px;
    margin: 30px 10px 0 10px;
    border: 2px solid #F0181B !important;
    border-radius: 10px;
    background: rgb(252,249,93);
    color: #F0181B;
}

.square-flex a:hover {
  border: 2px solid #0DA8E0 !important;
  background: #7CCDEA;
  color: #FFFFE3;
  transition: all 0.5s ease;
}

.square-flex .price {
  display: inline-block;
  margin-left: 50px;
  color: #7CCDEA;
}

@media screen and (max-width: 700px) {
    .flex-container {
        margin: auto;
        width: 300px;
        padding: 0px;
        background: #F0181B;
        border: 4px solid #FFEE54;
        border-radius: 45px;
    }

    .flex-container h2 {
      width: 200px;
      background: #FFEE54;
      color: #0DA8E0;
      border-radius: 45px;
      font-family: courier;
      text-align: center;
      margin: 15px 0;
    }

  #square {
    padding: 30px;
  }

  .square-flex{
      padding: 0;
      margin: 0;
  }
}
